<%= link_to "Exit", "/", id: "exit-link"%>

<div id="game-index">

  <h1 id="question"><%= raw(@current_card.question) %></h1>
  <div id="options">
    <% @current_card.all_answers.shuffle.each_with_index do |answer, index| %>
      <button class="option" id="<%= index %>" onclick="submitAnswer('<%= answer %>')"><%= raw(answer) %></button>
    <% end %>
  </div>
  <hr>
  <div id="correct-answer"></div>
  <div><button id="next-question">Skip</button></div>
  <div id="home-link"></div>
</div>

<script>

  function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
  }

  let answer = document.querySelector("#show-answer-button");
  let answerField = document.querySelector('#correct-answer');

  let difficulty = '<%= @current_card.numeric_difficulty %>';
  let correct = '<%= @current_card.correct_answer %>';

  let points = parseInt(difficulty);

  var nextQuestion = document.getElementById("next-question");

  function submitAnswer(answer) {

    answerField.innerHTML = "";
    let score = 0;

    if (answer == correct) {
      answerField.innerHTML += "Correct! ";
      answerField.innerHTML += "The answer is " + decodeHtml(correct);
      nextQuestion.innerHTML = "Next Question";

      if (localStorage.getItem("score") == null){
        localStorage.setItem("score", 0);
      } else {
        score = parseInt(localStorage.getItem("score"));
      }
      score += parseInt(difficulty);
      localStorage.setItem("score", score);

    } else {
      answerField.innerHTML += "Incorrect! ";
      answerField.innerHTML += "The answer is " + decodeHtml(correct);
      nextQuestion.innerHTML = "Next Question";

      if (localStorage.getItem("score") == null || localStorage.getItem("score") == NaN){
        localStorage.setItem("score", 0);
      } else {
        score = parseInt(localStorage.getItem("score"));
      }
      if (score > 0) {
      score -= 1;
      localStorage.setItem("score", score);
      }
    }
  }

  if (localStorage.getItem("questionNum") == null){
    localStorage.setItem("questionNum", 0);
  } else {
    questionNum = parseInt(localStorage.getItem("questionNum"));
  }
  questionNum += 1;
  localStorage.setItem("questionNum", questionNum);

  nextQuestion.addEventListener('click', function(){
    location.reload();
  });
  let numTurns = 10;
  let maxScore = 10
  let score = localStorage.getItem("score");
  if (score >= maxScore){
    document.querySelector("#question").innerHTML = "You Win!";
    document.querySelector("#options").innerHTML = `<h3>Turn ${questionNum} out of ${numTurns}</h3>
                                                    <p>Great job on on your knowledge!</p>`;
    nextQuestion.innerHTML = "Play Again";
    localStorage.setItem("score", 0);
    localStorage.setItem("questionNum", 0);
    homeLink.innerHTML = `<a href="home-link">Home</a>`;
  }

  if (questionNum >= numTurns){
    document.querySelector("#question").innerHTML = "You Lose!";
    document.querySelector("#options").innerHTML = `<h3>Scored ${score} out of ${maxScore}</h3>
                                                    <p>Work on your knowledge!</p>`;
    nextQuestion.innerHTML = "Play Again";
    localStorage.setItem("score", 0);
    localStorage.setItem("questionNum", 0);
    homeLink.innerHTML = `<a href="home-link">Home</a>`;
  }
</script>
